@page
@model webProgrammingTest.Pages.mainPageModel
@{
}

<div style="text-align: center; margin: 0px; color:white">
	<p style="font-size: 4em; text-shadow: 2px 2px 2px darkgrey">Five White Poisons</p>
</div>

<div style="text-align: left; margin: 2em; width: 40%; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
	<p>
		The key to good health lies in eating less, exercising more, and most importantly in good nutrition. 
		Not only does this involve incorporating healthy foods in the diet, but also in eliminating a few harmful ones too.
		<br />
		Keeping that in mind, begin by reducing the intake of white harmful food.
	</p>
</div>

<div class="left">
	<img src="../Images/Flour.jpg" style="width: 23%; height: 250px" />
	<a size="1.5em">White Flour</a>
</div>

<div id="salt">
	<img src="../Images/Salt.jpg" style="width: 23%; height: 250px" />
	<a size="1.5em">Salt</a>
</div>

<div class="left">
	<img src="../Images/sugar.jpg" style="width: 23%; height: 250px" />
	<a size="1.5em">Sugar</a>
</div>




<link href="~/css/mainpage.css" rel="stylesheet" />