@page
@model webProgrammingTest.Pages.SaltModel
@{
}

<div id="container" ; style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">

	<div style="text-align: center; margin: 0px; text-shadow: 2px 2px 2px darkgrey;">
		<p style="font-size: 3em; color: gray">IS SALT A POISON?</p>
		<p style="font-size: 2.6em; color:white">Facts or Fiction</p>
	</div>

	<div style="font-size: 1em">
		Food without salt doesn’t taste good at all. You might never want to eat 
		tasteless food. Some foods may not taste salty, but they are actually loaded 
		with salt. They contain other ingredients that balance the taste. However, 
		excess salt is associated with numerous health hazards.
	</div>
	<br />
	<div style="font-size: 2em">
		Why to avoid salt?
	</div>
	<br />
	<div style="font-size: 1em">
		Not only does salt contribute to water retention and bloating, it also causes 
		an imbalance in the blood pressure. Salty dishes contribute to impairment of 
		kidney function, resulting in less water and toxins to be expelled from the 
		body. Excessive intake of salt can also affect your bones, thus causing bone 
		thinning.
		<br />
		High sodium foods like ready to eat foods, papads, pickles, sauces, chips, 
		salted biscuits, cheese and salted butter have the highest salt content.
	</div>
	<br />
	<div style="font-size: 2em"> 
		Tip:
	</div>
	<br />
	<div style="font-size: 1em">
		Read the food labels to catch sodium in the form of preservatives like 
		sodium benzoate, monosodium glutamate, baking powder and baking soda.
		You may also like: Low sodium salt substitutes. Are they safe?
	</div>



</div>


<link href="~/css/container.css" rel="stylesheet" />