@page
@model webProgrammingTest.Pages.SugarModel
@{


}

<div id="container" ; style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">

	<div style="text-align: center; margin: 0px; text-shadow: 2px 2px 2px darkgrey;">
		<p style="font-size: 3em; color: gray">IS SUGAR A POISON?</p>
		<p style="font-size: 2.6em; color:white">Facts or Fiction</p>
	</div>

	<div style="font-size: 1em">
		Sugar contains no essential nutrients and is one of the worst ingredients 
		in your diet. It is high in calories and is present in almost every 
		processed food (Tamasic food).
	</div>

	<br />

	<div style="font-size: 2em">
		Why Sugar is called white Poison?
	</div>
	<br />

	<div style="font-size: 1em">
		It is the leading cause of obesity and type 2 diabetes. The high fructose 
		level of sugar can affect your liver. Not just that, sugar immobilizes the 
		immune system, making one prone to illness and disease.
		Processed items high in sugar like soft drinks, mocktails & cocktails, 
		ketchups, biscuits, ice-cream, chocolates, desserts should be avoided if 
		you are targeting a healthier diet.
	</div>
	<br />

	<div style="font-size: 2em">
		Tip:
	</div>
	<br />

	<div style="font-size: 1em">
		Check for hidden sugar sources on the food label. Sugar may be mentioned 
		on the labels by different names like malt sugar, invert sugar, honey, 
		jaggery or terms ending with ‘ose’ (maltose, dextrose, glucose, sucrose, 
		and fructose), or corn syrup and high fructose corn syrup.
	</div>



</div>


<link href="~/css/container.css" rel="stylesheet" />