<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>

    <div class="navigation">
        <a href="main"> <img src="../Images/poison.png" style="height: 50px"/> </a>
        <a>Flour</a>
        <a href="smain">Salt</a>
        <a href="smain">Sugar</a>
        <a>Quiz?</a>
    </div>

    <div>
        @RenderBody() @*תגית זו שומרת מקום עבור התכנים של הדפים היורשים*@
    </div>

    <footer>
        <a href="https://www.thewellnesscorner.com/blog/the-3-white-poisons-that-you-should-stop-using-immediately" 
        style="color: green; font-size: 1.5em">Source: The wellness Corner</a>
        <div style="font-size: 1em">Itamar Kertis</div>
    </footer>

	<link href="~/css/mainlayout.css" rel="stylesheet" />


</body>
</html>
